@import url('https://fonts.googleapis.com/css2?family=Saira:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');

$primary-font: 'Barlow', sans-serif;
$secondary-font: 'Saira', sans-serif;

$primary-color: #3C3950;
$secondary-color: #3C3950;

// responsive==========================
// xl-device=====
@mixin xxl-down-device{
    @media (max-width:1399px){
        @content;
    }
}

@mixin xl-down-device{
    @media (max-width:1199px){
        @content;
    }
}

@mixin xl-device{
    @media (min-width:1200px) and (max-width:1399px){
        @content;
    }
}

@mixin lg-device{
    @media (min-width:992px) and (max-width:1199px){
        @content;
    }
}
@mixin lg-up-device{
    @media (min-width:992px){
        @content;
    }
}

@mixin lg-down-device{
    @media (max-width:991px){
        @content;
    }
}

// md-device============
@mixin md-device{
    @media (min-width:768px) and (max-width:991px){
        @content;
    }
}
@mixin md-up-device{
    @media (min-width:768px){
        @content;
    }
}

@mixin md-down-device{
    @media (max-width:767px){
        @content;
    }
}

// sm-device
@mixin sm-device{
    @media (min-width: 576px) and (max-width:768px){
        @content;
    }
}

@mixin sm-down-device{
    @media (max-width:576px){
        @content;
    }
}

html, body {
    height: 100%;
}
body{
    margin: 0;
    font-family: $primary-font;
    overflow-x: clip;
}
.cursor {
    width: 30px;
    height: 30px;
    border: 3px solid white;
    border-radius: 50%;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s infinite alternate;
    pointer-events: none;
    z-index: 99999;
}

.cursor::after {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    border: 8px solid rgb(85, 78, 78);
    border-radius: 50%;
    opacity: .5;
    top: -1px;
    left: -1px;
    animation: cursorAnim2 .5s infinite alternate;
}

@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.7);
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.4);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.expand {
    animation: cursorAnim3 .5s forwards;
    border: 1px solid red;
}



header{
    .header-area{
        padding: 10px 50px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        @include xl-down-device(){
            padding: 10px 15px;
        }
        nav.main-nav{
            @include xl-down-device(){
                display: none;
                visibility: hidden;
            }
            ul{
                margin: 0;
                padding: 0;
                text-align: right;
                li{
                    display: inline-block;
                    margin: 8px 25px;
                    text-align: center;
                    a{
                        text-decoration: none;
                        color: #fff;
                        font-size: 18px;
                        color: #fff;
                        line-height: 16px;
                        font-family: $primary-font;
                        text-transform: uppercase;
                        span{
                            display: block;
                            color: #acacac;
                            font-size: 16px;
                            text-transform: capitalize;
                            margin-bottom: 4px;
                        }
                    }
                }
            }
        }
        .collapse-menu{
            text-align: right;
            cursor: pointer;
            display: none;
            float: right;
            visibility: hidden;
            @include xl-down-device(){
                display: block;
                visibility: visible;
            }
            span{
                background: #fff;
                width: 45px;
                height: 2px;
                display: block;
                margin: 10px auto;
            }
        }
    }
}
.collapse-menu-slide {
    position: fixed;
    width: 100%;
    min-height: 100vh;
    inset: 0;
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .6s;
    transition: all .6s;
    &.collapse-menu-active{
        opacity: 1;
        visibility: visible;
        .collapse-menu-slide-wrapper{
            opacity: 1;
            visibility: visible;
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
    }
   
    .collapse-menu-slide-wrapper{
        background: rgba(0,0,0,0.7);
        -webkit-box-shadow: 3px 5px 35px rgba(86,68,169,.1);
        box-shadow: 3px 5px 35px rgba(86,68,169,.1);
        height: 100%;
        max-width: 490px;
        padding: 40px 30px;
        -webkit-transition: all .6s cubic-bezier(.32,0,0,1);
        transition: all .6s cubic-bezier(.32,0,0,1);
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        .collapse-menu i {
            color: #fff;
            float: right;
            font-size: 24px;
            cursor: pointer;
        }
    }
   
    ul.collapse-menu-items {
        display: inline-block;
        margin: 20px 0;
        padding: 0;
        list-style: none;
        width: 100%;
        li{
            display: block;
            margin: 25px 0;
            a{
                color: #fff;
                font-size: 30px;
                text-transform: uppercase;
                text-decoration: none;
            }
        }
    }
}
.hero-area{
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(45,55,60,0.8) 100%,rgba(45,55,60,0.8) 100%), url(../images/hero-image-1.png);
    // &::before{
    //     position: absolute;
    //     content: "";
    //     inset: 0;
    //     background: rgba(22,43,50,.9);
    //     z-index: 0;
    // }
    // .hero-area-shape{
    //     // position: absolute;
    //     // width: 100%;
    //     // height: 100%;
    //     // background: url(../images/hero-image-shape.png);
    // }
    .hero-area-wrapper{
        width: 100%;
    }
    .ml11 {
        font-weight: 700;
        font-size: 3.5em;
      }
      
      .ml11 .text-wrapper {
        position: relative;
        display: inline-block;
        padding-top: 0.1em;
        padding-right: 0.05em;
        padding-bottom: 0.15em;
      }
      
      .ml11 .line {
        opacity: 0;
        position: absolute;
        right: 0;
        height: 100%;
        width: 3px;
        background-color: #fff;
        transform-origin: 0 50%;
      }
      
      .ml11 .line1 { 
        top: 0; 
        left: 0;
      }
      
      .ml11 .letter {
        display: inline-block;
        line-height: 1em;
      }
    .hero-area-content{
        text-align: center;
        padding: 120px 20px;
        h1{
            color: #fff;
            font-size: 90px;
            font-weight: 800;
            @include xxl-down-device(){
                font-size: 80px;
            }
            @include xl-down-device(){
                font-size: 50px;
            }
            @include sm-down-device(){
                font-size: 30px;
            }
            
            span{
                -webkit-text-stroke: 2px #fff;
                -webkit-text-fill-color: transparent;
                display: block;
                @include sm-down-device(){
                    -webkit-text-stroke: 1px #fff;

                }
            }
        }
        a.btn.hero-btn {
            border: 2px solid #fff;
            color: #fff;
            font-size: 20px;
            text-transform: uppercase;
            padding: 10px 35px;
            line-height: 30px;
            border-radius: 50px;
            margin-top: 30px;
            font-family: $primary-font;
            &:hover{
                background: #fff;
                color: #3c3c3c;
                transition: all 0.4s;
            }
        }
    }
    .social-connect {
        position: absolute;
        left: 0;
        top: 20%;
        transform: translateX(40%);
        @include sm-down-device(){
            left: -40px;
            top: 20%;   
        }
        ul{
            list-style: none;
            margin: 0;
            padding: 0;
            text-align: center;
            li{
                /* display: block; */
                transform: rotate(-90deg);
                text-align: center;
                margin: 100% 0;
                a{
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
    }
}
.section-title-area {
    background: radial-gradient(50% 50% at 50% 50%, #52BDC7 0%, #43A2AF 100%);
    display: flex;
    min-height: 600px;
    align-items: center;
    padding: 130px 40px;
    position: relative;
    height: 100%;
    @include xl-down-device(){
        text-align: center;
        justify-content: center;
    }
    // &.color-1{

    // }
    &.color-2{
        background: radial-gradient(50% 50% at 50% 50%, #42E7B5 0%, #20C895 100%);
    }
    &.color-3{
        background: radial-gradient(50% 50% at 50% 50%, #282564 0%, #141441 100%);
    }
    &.color-4{
        background: radial-gradient(50% 50% at 50% 50%, #FF9C00 0%, #F37700 100%);
    }
    
    &.color-5{
        background: radial-gradient(50% 50% at 50% 50%, #FE8B80 0%, #F46353 100%);
    }

    &:before {
        background: url(../images/shape/section-area-left-top-shape.svg);
        background-repeat: no-repeat;
        background-position: left top;
        position: absolute;
        content: "";
        inset: 0;
        // left: 0;
        // top: 0;
        z-index: -1;
    }
    &::after {
        background: url(../images/shape/section-area-right-bottom-shape.svg);
        background-repeat: no-repeat;
        position: absolute;
        content: "";
        inset: 0;
        background-position: right bottom;
        z-index: -1;
    }
    .section-area-wrapper{
        @include xl-down-device(){
            max-width: 800px;
        }
        width: 100%;
        h2.section-title{
            font-size: 90px;
            font-weight: 800;
            line-height: 120px;
            color: #fff;
            text-transform: uppercase;
            font-family: $primary-font;
            @include xxl-down-device(){
                font-size: 65px;
                line-height: 80px;
            }
            @include sm-down-device(){
                font-size: 30px;
                line-height: 30px;
            }
        }
        p{
            color: #fff;
            font-size: 20px;
            @include xxl-down-device(){
                font-size: 18px;
            }
        }
        a.section-btn {
            width: 70px;
            height: 70px;
            border: 2px solid #fff;
            display: inline-block;
            border-radius: 90%;
            padding: 12px;
            text-align: center;
            margin-top: 25px;
           
            &:hover{
                background: #fff;
                transition: all 0.4s;
                i{
                    color: $secondary-color;
                }
            }
            i {
                color: #fff;
                font-size: 30px;
                line-height: 39px;
            }
        }
    }
}
.section-content-area{
    padding: 50px 10px;
    height: 100%;
    &.s-color-1{
        background: #26302B;
        color: #fff;
    }
    // @include lg-down-device(){
    //     display: flex;
    //     flex-wrap: wrap;
    //     justify-content: center;
    // }
}

.section-title-area-two{
    background: radial-gradient(50% 50% at 50% 50%, #C54BFE 0%, #9300ED 100%);
}
// Services Items CSS
.service-item{
    border: 2px solid #EEEEEE;
    padding: 20px;
    margin: 15px;
    border-radius: 5px;
    h3{
        font-size: 28px;
        font-weight: 600;
        margin: 15px 0;
        color: $secondary-color;
        font-family: $primary-font;
    }
    p{
        margin: 0 0 35px 0;
    }
    .service-btn{
        display: flex;
        &:hover{
            .read-arrow{
                background-color: #3C3950;
                i{
                    display: block;
                    visibility: visible;
                }
            }
            .read-more{
                margin-left: 15px; 
            }
            
            
        }
        .read-arrow{
            height: 40px;
            width: 40px;
            line-height: 40px;
            border: 1px solid #3C3950;
            border-radius: 50%;
            display: inline-block;
            text-align: center;
            margin-top: -6px;
            i{
                color: #FFFFFF;
                font-size: 20px;
                display: none;
                visibility: hidden;
            }
        }
        a.read-more{
            color: $secondary-color;
            text-decoration: none;
            font-family: $primary-font;
            font-size: 18px;
            font-weight: 600;
            position: relative;
            text-decoration: none;
            margin-left: -20px;
            transition: 0.4s ease-in-out;
           
            
        }
    }

}




// About Us CSS
.about-content{
    padding-top: 150px;
}
.about-us-wrapper{
    h2{
        font-family: $primary-font;
        font-weight: bold;
        font-size: 40px;
        line-height: 60px;
        text-transform: capitalize;
        color: #FFFFFF;
        padding-left: 20px;
        padding-top: 20px;
    }
    img{
        padding: 0px 0px 0px 20px;
    }
    .about-us-image {
       margin: 0px 35px;
       position: relative;
       &::before{
        content: '';
        position: absolute;
        left: 0px;
        top: 0px;
        right: 0;
        bottom: 0px;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background-color: #2a2b2f;
        opacity: 0.6;
        z-index:1;
    }
       img{
           margin: 0px auto;
           width: 100%;
           
           
       }
    }
    blockquote {
        font-size: 24px;
        font-weight: 100;
        font-style: italic;
        padding: 20px;
    }
    .about-us-state{
        gap: 30px;
        justify-content: center;
        .about-us-state-item {
            margin: 15px 10px;
            color: #9A9A9A;
            width: 50%;
            .about-us-state-item-icon i {
                font-size: 46px;
                margin-right: 15px;
            }
            .about-us-state-item-content{
                h4{
                    font-size: 30px;
                    font-weight: 700;
                    margin-bottom: 0;
                }
                p{
                    margin: 0;
                }
            }
        }
        
    }
}
.video-pluse {
    height: 38px;
    width: 38px;
    text-align: center;
    line-height: 50px;
    background: #fff;
    color: var(--color-primary);
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    left: 45%;
    top: 45%;
    z-index: 9;
    span {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: #fff;
      border-radius: 50%;
      display: inline-block;
      animation: video-pulse 3s linear infinite;
      animation-delay: calc(-0.5s * var(--i));
      @keyframes video-pulse {
        0% {
          transform: scale(1);
          opacity: 0.5;
        }
        100% {
          transform: scale(2.2);
          opacity: 0;
        }
      }
    }
    i {
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color:  #00152B;
    }
  }
// Work Process CSS
.work-process-section{
    h3.work-process-title{
        text-align: center;
        font-size: 50px;
        font-weight: 700;
        margin: 20px 0;
    }
}
.work-process-item1{
   position: absolute; 
   left: 67.1%;
   @include xl-device(){
       left: 61.5%;
   }
   @include xl-down-device(){
       left: 44%;
   }
//    @include md-device(){
//     left: 67.1%;
//     }
    .work-icon{
        border: 2px dashed #2A2B2F;
    padding: 15px;
    border-radius: 90%;
    width: 140px;
    height: 140px;
    display: grid;
    align-items: center;
    text-align: center;
    position: relative;
    @include lg-down-device(){
        &::before{
            border-right: unset;
        }
    }
    &::before{
        content: "";
        position: absolute;
        bottom: -85px;
        left: 0;
        right: 0;
        height: 80px;
        width: 0;
        border-right: 2px dashed #2A2B2F;
        text-align: center;
        margin: 0px auto;
    }
    @include lg-down-device(){
        &::before{
            display: none;
        }
    }
    span{
        background: #fff;
        box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.1);
        display: block;
        position: absolute;
        top: 20px;
        left: -12px;
        padding: 8px;
        border-radius: 90%;
        width: 40px;
        height: 40px;
        font-weight: 700;
        text-align: center;
    }
    h4{
        font-size: 20px;
        font-weight: 600;
    }
    svg{
        margin: 0px auto;
    }
    }
}


.work-process-wrapper{
    position: relative;
    @include lg-down-device(){
        flex-wrap: wrap;
    }
    &::before{
        content: "";
        position: absolute;
        border-top: 2px dashed #2A2B2F;
        height: 0;
        max-width: 660px;
        width: 100%;
        top: 218px;
    }
    @include lg-down-device(){
        &::before{
            display: none;
        }
    }
    &.d-flex{
        gap: 25px;
        justify-content: center;
        margin: 30px 0;
        padding-top: 300px;
    }
    .work-process-item{
        border: 2px dashed #2A2B2F;
        padding: 15px;
        border-radius: 90%;
        width: 140px;
        height: 140px;
        display: grid;
        align-items: center;
        text-align: center;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            top: -80px;
            left: 0;
            right: 0;
            height: 80px;
            width: 0;
            border-right: 2px dashed #2A2B2F;
            text-align: center;
            margin: 0px auto;
        }
        @include lg-down-device(){
            &::before{
                display: none;
            }
        }
        span{
            background: #fff;
            box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.1);
            display: block;
            position: absolute;
            top: 20px;
            left: -12px;
            padding: 8px;
            border-radius: 90%;
            width: 40px;
            height: 40px;
            font-weight: 700;
            text-align: center;
        }
        h4{
            font-size: 20px;
            font-weight: 600;
        }
        svg{
            margin: 0px auto;
        }
    }
}

// Client Testimonial CSS
.client-testimonial-wrapper{
    position: relative;
    padding: 40px;
    .ct-swiper-button {
        display: flex;
        position: absolute;
        right: 0;
        bottom: 30px;
        z-index: 999;
        @include md-down-device(){
            display: none;
            visibility: hidden;
        }
        i{
            border: 2px solid #fff;
            margin: 0 20px;
            padding: 4px 0px;
            border-radius: 90%;
            display: block;
            width: 50px;
            height: 50px;
            text-align: center;
            font-size: 25px;
            &:hover{
                color: black;
                background-color: #fff;
            }
        }
        .swiper-button-disabled i {
            color: #8a8a8a;
            border-color: #8a8a8a;
        }
    }
    .author-meta{
        padding: 25px 0px 25px 0px;
        flex-wrap: wrap;
        .author-meta-img{
            position: relative;
            margin-right: 20px;
            &::after{
                content: '';
                position: absolute;
                left: 10px;
                top: -10px;
                border: 3px solid #fff;
                border-radius: 100%;
                height: 100px;
                width: 100px;
            }
        }
        .author-meta-content{
            margin-top: 7px;
        }
    }
}
.product-item{
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    img{
        width: 100%;
        margin-bottom: 25px;
    }
    h3{
        a{
            font-family: $primary-font;
            font-style: normal;
            font-weight: 600;
            font-size: 25px;
            line-height: 35px;
            display: flex;
            justify-content: center;
            color: #2A2B2F;
            margin-bottom: 40px;
            margin-bottom: 25px;
            text-decoration: none;
        }
    }
    p{
        display: flex;
        justify-content: space-between;
        padding: 0px 20px;
        span{
            a{
                font-family: $secondary-color;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 20px;
                color: #3C3950;
                text-decoration: none;
                border: 1px solid #2A2B2F;
                padding: 2px 8px;
                border-radius: 0px 5px;
                .bi-download{
                    margin-right: 5px;
                }
                .bi-heart{
                    margin-left: 5px;
                }
            }
            .bttns{
                margin-right: 10px;
            }
        }
    }
}
.product-content-area{
    padding: 157px 0px;
}
.clients-logo{
    img{
        margin-right: 20px;
        margin-bottom: 20px;
    }
}
.blog-left-wrapper{
    .blog-left-items{
        img{
            width: 100%;
        }
        .blog-contents{
            background: linear-gradient(rgba(#FFFFFF, 0.05));
            box-sizing: border-box;
            border-radius: 5px;
            padding: 30px 30px 30px 30px;
            h4{
                a{
                font-family: $primary-font;
                font-style: normal;
                font-weight: 600;
                font-size: 25px;
                line-height: 35px;
                color: #CCCCCC;
                margin-bottom: 20px;
                text-decoration: none;
                }
            }
            p{
                font-family: $secondary-font;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 30px;
                color: #CCCCCC;
            }
            .service-btn{
                display: flex;
                &:hover{
                    .read-arrow{
                        background-color: #FFFFFF;
                        i{
                            display: block;
                            visibility: visible;

                        }
                    }
                    .read-more{
                        margin-left: 15px; 
                    }
                    
                    
                }
                .read-arrow{
                    height: 40px;
                    width: 40px;
                    line-height: 40px;
                    border: 1px solid #FFFFFF;
                    border-radius: 50%;
                    display: inline-block;
                    text-align: center;
                    margin-top: -6px;
                    i{
                        color:  #2A2B2F;
                        font-size: 20px;
                        display: none;
                        visibility: hidden;
                    }
                }
                a.read-more{
                    color: #FFFFFF;
                    text-decoration: none;
                    font-family: $primary-font;
                    font-size: 18px;
                    font-weight: 600;
                    position: relative;
                    text-decoration: none;
                    margin-left: -20px;
                    transition: 0.4s ease-in-out;
                   
                    
                }
            }
        }
    }
}
.blog-right-content{
    h3{
        font-family: $primary-font;
        font-weight: bold;
        font-size: 40px;
        line-height: 60px;
        color: #FFFFFF;
    }
    form{
        .form-inner{
            z-index: 11;
            @include xl-down-device(){
                justify-content: center;
            }

        input{
            border: 2px solid #FFFFFF;
            box-sizing: border-box;
            border-radius: 100px;
            background: transparent;
            padding: 24px;
            max-width: 450px;
            width: 100%;
            @include sm-down-device(){
                padding: 5px 10px;
                width: unset;
                &::placeholder{
                    font-size: 12px;
                    line-height: 18px;
                }
            }
            &::placeholder{
                font-family: $primary-font;
                font-weight: 500;
                font-size: 16px;
                line-height: 40px;
                color: #EEEEEE;
            }
        }
        button{
            padding: 19px 35px;
            border: 2px solid #FFFFFF;
            border-radius: 0px 35px 35px 0px;
            margin-left: -35px;
            font-family: $primary-font;
            font-weight: bold;
            font-size: 20px;
            line-height: 35px;
            text-transform: uppercase;
            color: #5F727F;
            @include sm-down-device(){
                padding: 10px 10px;
            }

        }
        }
    }
}
.product-left-area{
    background: #000;
}
// footer
.footer{
    background: #000413;
    .footer-items{
        padding: 47px 75px;
        align-items: center;
        text-align: center;
        .copyright{
            a{
                font-family: $primary-font;
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
                color: #FFFFFF;
                text-decoration: none;
            }
        }
        .footer-icon{
            a{
                margin-right: 20px;
                i{ 
                    height: 34px;
                    width: 34px;
                    border-radius: 50px;
                    line-height: 32px;
                    border: 1px solid #FFFFFF;
                    // background-color: #FFFFFF;
                    color: #FFFFFF;
                    font-size: 20px;
                    padding-left: 0px;
                }
            }

        }
        .back-batn{
            a{
                font-family: $primary-font;
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
                color: #FFFFFF;
                text-decoration: none;
            }
        }
    }
}