@import url('https://fonts.googleapis.com/css2?family=Saira:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');

$primary-font: 'Barlow', sans-serif;
$secondary-font: 'Saira', sans-serif;

$primary-color: #3C3950;
$secondary-color: #3C3950;

// responsive==========================
// xl-device=====
@mixin xxl-down-device{
    @media (max-width:1399px){
        @content;
    }
}

@mixin xl-down-device{
    @media (max-width:1199px){
        @content;
    }
}

@mixin xl-device{
    @media (min-width:1200px) and (max-width:1399px){
        @content;
    }
}

@mixin lg-device{
    @media (min-width:992px) and (max-width:1199px){
        @content;
    }
}
@mixin lg-up-device{
    @media (min-width:992px){
        @content;
    }
}

@mixin lg-down-device{
    @media (max-width:991px){
        @content;
    }
}

// md-device============
@mixin md-device{
    @media (min-width:768px) and (max-width:991px){
        @content;
    }
}
@mixin md-up-device{
    @media (min-width:768px){
        @content;
    }
}

@mixin md-down-device{
    @media (max-width:767px){
        @content;
    }
}

// sm-device
@mixin sm-device{
    @media (min-width: 576px) and (max-width:768px){
        @content;
    }
}

@mixin sm-down-device{
    @media (max-width:576px){
        @content;
    }
}

html, body {
    height: 100%;
}
body{
    margin: 0;
    font-family: $primary-font;
    overflow-x: clip;
}
.cursor {
    width: 30px;
    height: 30px;
    border: 1px dotted white;
    border-radius: 50%;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    pointer-events: none;
    z-index: 99999;
}

.cursor::after {
    content: "";
    width: 5px;
    height: 5px;
    position: absolute;
    border: 1px solid #fff;
    border-radius: 50%;
    opacity: 1;
    top: 12px;
    left: 12px;
}

@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.7);
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.4);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.expand {
    animation: cursorAnim3 .5s forwards;
    border: 1px solid red;
}

.hover-style{
    border: 1px solid transparent;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 0%;
        height: 1px;
        background: #9300ED ;
        transition: 0.3s;
        transition-delay: 0.9s;
    }
    &::after{
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        width: 0%;
        height: 1px;
        background: #F37700;
        transition: 0.3s;
        transition-delay: 0.3s;
    }
    span{
        display: block;
        &::before{
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            height: 0%;
            width: 1px;
            background: #F46353;
            transition: 0.3s;
            transition-delay: 0.6s;
        }
        &::after{
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            height: 0%;
            width: 1px;
            background: #43A2AF;
            transition: 0.3s;
            transition-delay: 0s;
        }
    }
    &:hover{
        &::before{
            width: 100%;
            transition-delay: 0s;
        }
        &::after{
            width: 100%;
            transition-delay: 0.6s;
        }
        span{
            display: block;
            &::before{
                height: 100%;
                transition-delay: 0.3s;
            }
            &::after{
                height: 100%;
                transition-delay: .9s;
            }
        }
    }
}

header{
    .header-area{
        padding: 10px 50px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        @include xl-down-device(){
            padding: 10px 15px;
        }
        nav.main-nav{
            @include xl-down-device(){
                display: none;
                visibility: hidden;
            }
            ul{
                margin: 0;
                padding: 0;
                text-align: right;
                li{
                    display: inline-block;
                    margin: 8px 25px;
                    text-align: center;
                    
                    a{
                        text-decoration: none;
                        color: #fff;
                        font-size: 18px;
                        color: #fff;
                        line-height: 16px;
                        font-family: $primary-font;
                        text-transform: uppercase;
                        transition: 0.4s;
                        span{
                            display: block;
                            color: #acacac;
                            font-size: 16px;
                            text-transform: capitalize;
                            margin-bottom: 4px;
                            transition: 0.4s;
                            
                        }
                        &:hover{
                            color: #FFA100;
                            span{
                                color: #FFA100;
                            }
                        }
                    }
                }
            }
        }
        .collapse-menu{
            text-align: right;
            cursor: pointer;
            display: none;
            float: right;
            visibility: hidden;
            @include xl-down-device(){
                display: block;
                visibility: visible;
            }
            span{
                background: #fff;
                width: 40px;
                height: 2px;
                display: block;
                margin: 10px auto;
                transition: 0.4s;
                &:hover{
                    color: #FFA100;
                }
            }
        }
    }
}
.mobile-menu{
    position: fixed;
    left: -100%;
    background-color: rgba(0,0,0,0.99);
    width: 100%;
    max-width: 290px;
    height: 100%;
    z-index: 999;
    padding: 30px 25px 30px 25px;
    transition: 0.5s ease-in;

    .mobile-menu-items{
        list-style: none;
        padding-left: 10px;
        a{
            text-decoration: none;
            color: #fff;
            font-family: $primary-font;
            font-size: 1.5rem;
            margin-bottom: 20px;
            padding: 0px 0px;
            display: block;
            text-transform: uppercase;
            transition: 0.4s;
            &:hover{
                color: #FFA100;
            }
        }
    }
    .social-connect{
        padding-left: 10px;
        ul{
            li{
                list-style: none;
                
                a{
                    text-decoration: none;
                    color: #fff;
                    font-family: $primary-font;
                    font-size: 1rem;
                    margin-bottom: 10px;
                    padding: 0px 0px;
                    display: block;
                    text-transform: uppercase;
                    transition: 0.4s;
                    &:hover{
                        color: #FFA100;
                    } 
                }
            }
        }
    }
    .mobile-menu-close{
        color: #fff;
        font-size: 20px;
        &:hover{
            color: red;
        }
    }
    &.active{
        left: 0;
    }
}

.hero-area{
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(45,55,60,0.8) 100%,rgba(45,55,60,0.8) 100%), url(../images/hero-image-1.png);
    // &::before{
    //     position: absolute;
    //     content: "";
    //     inset: 0;
    //     background: rgba(22,43,50,.9);
    //     z-index: 0;
    // }
    // .hero-area-shape{
    //     // position: absolute;
    //     // width: 100%;
    //     // height: 100%;
    //     // background: url(../images/hero-image-shape.png);
    // }
    .hero-area-wrapper{
        width: 100%;
    }
    .ml3 {
        font-weight: 900;
        font-size: 3.5em;
        display: flex;
        justify-content: center;
      }
      
   
    .hero-area-content{
        text-align: center;
        padding: 120px 20px;
        @include md-down-device(){
            padding: 120px 10px;
        }

        h1{
            color: #fff;
            font-size: 90px;
            font-weight: 800;
            @include xxl-down-device(){
                font-size: 80px;
            }
            @include xl-down-device(){
                font-size: 60px;
            }
            @include lg-down-device(){
            font-size: 45px;
            }
           
            
            span{
                -webkit-text-stroke: 2px #fff;
                -webkit-text-fill-color: transparent;
                display: block;
                @include sm-down-device(){
                    -webkit-text-stroke: 1px #fff;

                }
            }
        }
        a.btn.hero-btn {
            border: 2px solid #fff;
            color: #fff;
            font-size: 20px;
            text-transform: uppercase;
            padding: 10px 35px;
            line-height: 30px;
            border-radius: 50px;
            margin-top: 30px;
            font-family: $primary-font;
            &:hover{
                background: #fff;
                color: #3c3c3c;
                transition: all 0.4s;
            }
        }
    }
    .social-connect {
        position: absolute;
        left: 0;
        top: 20%;
        transform: translateX(40%);
        @include sm-down-device(){
            left: -40px;
            top: 20%;   
        }
        @include sm-down-device(){
            display: none;
            visibility: hidden;
        }
        ul{
            list-style: none;
            margin: 0;
            padding: 0;
            text-align: center;
            li{
                /* display: block; */
                transform: rotate(-90deg);
                text-align: center;
                margin: 100% 0;
                a{
                    text-decoration: none;
                    color: #fff;
                    transition: 0.4s;
                    &:hover{
                        color: #FFA100;
                    }
                }
            }
        }
    }
}
.section-title-area {
    background: radial-gradient(50% 50% at 50% 50%, #52BDC7 0%, #43A2AF 100%);
    display: flex;
    min-height: 600px;
    align-items: center;
    padding: 130px 40px;
    position: relative;
    height: 100%;
    z-index: 1;
    @include xl-down-device(){
        min-height: unset;
        padding: 100px 15px;
    }
    .frame-top{
        position: absolute;
        left: 0;
        top: 0;
    }
    .frame-btm{
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 1;
        
    }

    @include xl-down-device(){
        text-align: center;
        justify-content: center;
    }
    // &.color-1{

    // }
    &.color-2{
        background: radial-gradient(50% 50% at 50% 50%, #42E7B5 0%, #20C895 100%);
    }
    &.color-3{
        background: radial-gradient(50% 50% at 50% 50%, #282564 0%, #141441 100%);
    }
    &.color-4{
        background: radial-gradient(50% 50% at 50% 50%, #FF9C00 0%, #F37700 100%);
    }
    
    &.color-5{
        background: radial-gradient(50% 50% at 50% 50%, #FE8B80 0%, #F46353 100%);
    }

    &:before {
        background: url(../images/frame-top.png);
        background-repeat: no-repeat;
        background-position: left top;
        position: absolute;
        content: "";
        inset: 0;
        // left: 0;
        // top: 0;
        z-index: -1;
    }
    &::after {
        background: url(../images/frame-btm.png);
        background-repeat: no-repeat;
        position: absolute;
        content: "";
        inset: 0;
        background-position: right bottom;
        z-index: -1;
    }
    .section-area-wrapper{
        @include xl-down-device(){
            max-width: 800px;
        }
        width: 100%;
        h2.section-title{
            font-size: 90px;
            font-weight: 800;
            line-height: 120px;
            color: #fff;
            text-transform: uppercase;
            font-family: $primary-font;
            margin-bottom: 45px;
            @include xxl-down-device(){
                font-size: 60px;
                line-height: 72px;
                margin-bottom: 25px;

            }
            @include xl-down-device(){
                margin-bottom: 25px;
            }
            @include sm-device(){
                font-size: 50px;
            }
            @include sm-down-device(){
                font-size: 40px;
                line-height: 50px;
            }
        }
        p{
            color: #fff;
            font-size: 20px;
            margin-bottom: 50px;
            @include xxl-down-device(){
                font-size: 18px;
            }
            @include xl-down-device(){
                margin-bottom: 35px;
            }
        }
        a.section-btn {
            height: 70px;
            width: 70px;
            line-height: 70px;
            border: 1px solid #fff;
            border-radius: 50%;
            display: inline-block;
            text-align: center;
            margin-top: -6px;
            @include xxl-down-device(){
                width: 40px;
                height: 40px;
                line-height: 40px;
                i{
                    font-size: 20px;
                }
            }
           
            &:hover{
                background: #fff;
                transition: all 0.4s;
                i{
                    color: $secondary-color;
                }
            }
            i {
                color: #fff;
                font-size: 30px;
                @include xl-device(){
                    font-size: 20px;
                }
               
            }
        }
    }
}
.section-content-area{
    padding: 50px 10px;
    height: 100%;
    &.s-color-1{
        background: #26302B;
        color: #fff;
    }
    // @include lg-down-device(){
    //     display: flex;
    //     flex-wrap: wrap;
    //     justify-content: center;
    // }
}

.section-title-area-two{
    background: radial-gradient(50% 50% at 50% 50%, #C54BFE 0%, #9300ED 100%);
}
// Services Items CSS
.service-item{
    border: 2px solid #EEEEEE;
    padding: 20px;
    border-radius: 5px;
    transition: 0.4s;
    @include sm-down-device(){
        text-align: center;
    }
    @include xxl-down-device(){
        padding: 15px;
    }

    
    h3{
        font-size: 28px;
        font-weight: 600;
        margin: 15px 0;
        color: $secondary-color;
        font-family: $primary-font;
        @include xxl-down-device(){
            font-size: 20px;
        }
    }
    p{
        margin: 0 0 35px 0;
        @include xxl-down-device(){
            font-size: 14px;
            margin: 0 0 20px 0;

        }
        @include sm-down-device(){
            margin: 0 25px 35px 25px;

        }
    }
    .service-btn{
        display: flex;
        @include sm-down-device(){
            justify-content: center;
        }
        &:hover{
            .read-arrow{
                background-color: #3C3950;
                i{
                    display: block;
                    visibility: visible;
                }
            }
            .read-more{
                margin-left: 15px; 
            }
            
            
        }
        .read-arrow{
            height: 40px;
            width: 40px;
            line-height: 40px;
            border: 1px solid #3C3950;
            border-radius: 50%;
            text-align: center;
            margin-top: -6px;
            @include xxl-down-device(){
                height: 30px;
                width: 30px;
                line-height: 27px;
                i{
                    font-size: 16px;
                }
            }
            i{
                color: #FFFFFF;
                font-size: 20px;
                display: none;
                visibility: hidden;
            }
        }
        a.read-more{
            color: $secondary-color;
            text-decoration: none;
            font-family: $primary-font;
            font-size: 18px;
            font-weight: 600;
            position: relative;
            margin-left: -20px;
            transition: 0.4s ease-in-out;
            @include xxl-down-device(){
                margin-top: -3px;
                font-size: 16px;
            }
           
            
        }
    }

}




// About Us CSS
.about-content{
    padding-top: 150px;
}
.about-us-wrapper{
    h2{
        font-family: $primary-font;
        font-weight: bold;
        font-size: 40px;
        line-height: 60px;
        text-transform: capitalize;
        color: #FFFFFF;
        padding-left: 20px;
        padding-top: 20px;
        @include xl-down-device(){
            font-size: 30px;
            line-height: 40px;
        }
    }
    img{
        padding: 0px 0px 0px 20px;
    }
    .about-us-image {
       margin: 0px 35px;
       position: relative;
       &::before{
        content: '';
        position: absolute;
        left: 0px;
        top: 0px;
        right: 0;
        bottom: 0px;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background-color: #2a2b2f;
        opacity: 0.6;
        z-index:1;
    }
       img{
           margin: 0px auto;
           width: 100%;
           
           
       }
    }
    blockquote {
        font-size: 24px;
        font-weight: 100;
        font-style: italic;
        padding: 20px;
        @include xl-down-device(){
            font-size: 18px;
            padding: 10px 20px;
        }
    }
    .about-us-state{
        gap: 30px;
        justify-content: center;
        .about-us-state-item {
            margin: 15px 10px;
            color: #9A9A9A;
            width: 50%;
            .about-us-state-item-icon i {
                font-size: 46px;
                margin-right: 15px;
            }
            .about-us-state-item-content{
                h4{
                    font-size: 30px;
                    font-weight: 700;
                    margin-bottom: 0;
                }
                p{
                    margin: 0;
                }
            }
        }
        
    }
}
.video-pluse {
    height: 38px;
    width: 38px;
    text-align: center;
    line-height: 50px;
    background: #fff;
    color: var(--color-primary);
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    left: 45%;
    top: 45%;
    z-index: 9;
    span {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: #fff;
      border-radius: 50%;
      display: inline-block;
      animation: video-pulse 3s linear infinite;
      animation-delay: calc(-0.5s * var(--i));
      @keyframes video-pulse {
        0% {
          transform: scale(1);
          opacity: 0.5;
        }
        100% {
          transform: scale(2.2);
          opacity: 0;
        }
      }
    }
    i {
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color:  #00152B;
    }
  }
// Work Process CSS
.work-process-section{
    h3.work-process-title{
        text-align: center;
        font-size: 50px;
        font-weight: 700;
        margin: 20px 0;
    }
}
.work-process-item1{
   position: absolute; 
   left: 67.1%;
   @include xl-device(){
       left: 61.5%;
   }
   @include xl-down-device(){
       left: 44%;
   }
//    @include md-device(){
//     left: 67.1%;
//     }
    .work-icon{
        border: 2px dashed #2A2B2F;
    padding: 15px;
    border-radius: 90%;
    width: 140px;
    height: 140px;
    display: grid;
    align-items: center;
    text-align: center;
    position: relative;
    @include lg-down-device(){
        &::before{
            border-right: unset;
        }
    }
    &::before{
        content: "";
        position: absolute;
        bottom: -85px;
        left: 0;
        right: 0;
        height: 80px;
        width: 0;
        border-right: 2px dashed #2A2B2F;
        text-align: center;
        margin: 0px auto;
    }
    @include lg-down-device(){
        &::before{
            display: none;
        }
    }
    span{
        background: #fff;
        box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.1);
        display: block;
        position: absolute;
        top: 20px;
        left: -12px;
        padding: 8px;
        border-radius: 90%;
        width: 40px;
        height: 40px;
        font-weight: 700;
        text-align: center;
    }
    h4{
        font-size: 20px;
        font-weight: 600;
    }
    svg{
        margin: 0px auto;
    }
    }
}


.work-process-wrapper{
    position: relative;
    @include lg-down-device(){
        flex-wrap: wrap;
    }
    &::before{
        content: "";
        position: absolute;
        border-top: 2px dashed #2A2B2F;
        height: 0;
        max-width: 660px;
        width: 100%;
        top: 218px;
    }
    @include lg-down-device(){
        &::before{
            display: none;
        }
    }
    &.d-flex{
        gap: 25px;
        justify-content: center;
        margin: 30px 0;
        padding-top: 300px;
    }
    .work-process-item{
        border: 2px dashed #2A2B2F;
        padding: 15px;
        border-radius: 90%;
        width: 140px;
        height: 140px;
        display: grid;
        align-items: center;
        text-align: center;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            top: -80px;
            left: 0;
            right: 0;
            height: 80px;
            width: 0;
            border-right: 2px dashed #2A2B2F;
            text-align: center;
            margin: 0px auto;
        }
        @include lg-down-device(){
            &::before{
                display: none;
            }
        }
        span{
            background: #fff;
            box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.1);
            display: block;
            position: absolute;
            top: 20px;
            left: -12px;
            padding: 8px;
            border-radius: 90%;
            width: 40px;
            height: 40px;
            font-weight: 700;
            text-align: center;
        }
        h4{
            font-size: 20px;
            font-weight: 600;
        }
        svg{
            margin: 0px auto;
        }
    }
}

// Client Testimonial CSS
.client-testimonial-wrapper{
    position: relative;
    padding: 40px;
    .ct-swiper-button {
        display: flex;
        position: absolute;
        right: 0;
        bottom: 30px;
        z-index: 999;
        @include md-down-device(){
            display: none;
            visibility: hidden;
        }
        i{
            border: 2px solid #fff;
            margin: 0 20px;
            padding: 4px 0px;
            border-radius: 90%;
            display: block;
            width: 50px;
            height: 50px;
            text-align: center;
            font-size: 25px;
            &:hover{
                color: black;
                background-color: #fff;
            }
        }
        .swiper-button-disabled i {
            color: #8a8a8a;
            border-color: #8a8a8a;
        }
    }
    .author-meta{
        padding: 25px 0px 25px 0px;
        flex-wrap: wrap;
        @include xl-down-device(){
            padding: 10px 0px 10px 0px;

        }
        @include sm-down-device(){
            justify-content: center;
        }
        .author-meta-img{
            position: relative;
            margin-right: 20px;
            @include sm-down-device(){
                margin-bottom: 20px;
            }
            &::after{
                content: '';
                position: absolute;
                left: 10px;
                top: -10px;
                border: 3px solid #fff;
                border-radius: 100%;
                height: 100px;
                width: 100px;
            }
        }
        .author-meta-content{
            margin-top: 7px;
            @include sm-down-device(){
                text-align: center;
            }
        }
    }
}
.product-item{
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    transition: 0.6s;
    img{
        width: 100%;
        margin-bottom: 25px;
    }
    h3{
        a{
            font-family: $primary-font;
            font-style: normal;
            font-weight: 600;
            font-size: 25px;
            line-height: 35px;
            display: flex;
            justify-content: center;
            color: #2A2B2F;
            margin-bottom: 40px;
            margin-bottom: 25px;
            text-decoration: none;
            transition: 0.4s ease-in;
            &:hover{
                color: #9300ED;
            }
        }
    }
    p{
        display: flex;
        justify-content: space-between;
        padding: 0px 20px;
        span{
            a{
                font-family: $secondary-color;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 20px;
                color: #3C3950;
                text-decoration: none;
                border: 1px solid #2A2B2F;
                padding: 2px 8px;
                border-radius: 0px 5px;
                transition: 0.4s ease-in;
                &:hover{
                    color: #9300ED;
                    border: 1px solid #9300ED;
                }
                .bi-download{
                    margin-right: 5px;
                }
                .bi-heart{
                    margin-left: 5px;
                }
            }
            .bttns{
                margin-right: 10px;
            }
        }
    }
}
.product-content-area{
    padding: 157px 0px;
}
.clients-logo{
    img{
        margin-right: 20px;
        margin-bottom: 20px;
        transition: 0.4s;
        &:hover{
            box-shadow: 5px 3px 40px rgba(0, 72, 88, 0.1);
             transform: translateY(-5px);
        }
    }

}
.blog-left-wrapper{
    .blog-left-items{
        transition: 0.6s;
        img{
            width: 100%;
        }
        .blog-contents{
            background: linear-gradient(rgba(#FFFFFF, 0.05));
            box-sizing: border-box;
            border-radius: 5px;
            padding: 30px 30px 30px 30px;
            h4{
                a{
                font-family: $primary-font;
                font-style: normal;
                font-weight: 600;
                font-size: 25px;
                line-height: 35px;
                color: #CCCCCC;
                margin-bottom: 20px;
                text-decoration: none;
                @include xxl-down-device(){
                    font-size: 20px;
                    line-height: 30px;

                }
                }
            }
            p{
                font-family: $secondary-font;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 30px;
                color: #CCCCCC;
                @include xxl-down-device(){
                    font-size: 14px;
                    line-height: 25px;

                }
            }
            .service-btn{
                display: flex;
                @include sm-down-device(){
                    justify-content: center;
                }
                &:hover{
                    .read-arrow{
                        background-color: #fff;
                        i{
                            display: block;
                            visibility: visible;
                        }
                    }
                    .read-more{
                        margin-left: 15px; 
                    }
                    
                    
                }
                .read-arrow{
                    height: 40px;
                    width: 40px;
                    line-height: 40px;
                    border: 1px solid #fff;
                    border-radius: 50%;
                    text-align: center;
                    margin-top: -6px;
                    @include xxl-down-device(){
                        height: 30px;
                        width: 30px;
                        line-height: 27px;
                        i{
                            font-size: 16px;
                        }
                    }
                    i{
                        color: #000;
                        font-size: 20px;
                        display: none;
                        visibility: hidden;
                    }
                }
                a.read-more{
                    color: #fff;
                    text-decoration: none;
                    font-family: $primary-font;
                    font-size: 18px;
                    font-weight: 600;
                    position: relative;
                    margin-left: -20px;
                    transition: 0.4s ease-in-out;
                    @include xxl-down-device(){
                        margin-top: -3px;
                        font-size: 16px;
                    }
                   
                    
                }
            }
        }
    }
}
.blog-right-content{
    h3{
        font-family: $primary-font;
        font-weight: bold;
        font-size: 40px;
        line-height: 60px;
        color: #FFFFFF;
        @include xxl-down-device(){
            font-size: 30px;
            line-height: 40px;
            margin-bottom: 25px;
        }
    }
    form{
        .form-inner{
            z-index: 11;
            @include xl-down-device(){
                justify-content: center;
            }

        input{
            border: 2px solid #FFFFFF;
            box-sizing: border-box;
            border-radius: 100px;
            background: transparent;
            padding: 24px;
            max-width: 450px;
            width: 100%;
            @include xl-device(){
                padding: 5px 10px;
                width: unset;
                &::placeholder{
                    font-size: 12px;
                    line-height: 18px;
                }
            }
            @include sm-down-device(){
                padding: 5px 10px;
                width: unset;
                &::placeholder{
                    font-size: 12px;
                    line-height: 18px;
                }
            }
            &::placeholder{
                font-family: $primary-font;
                font-weight: 500;
                font-size: 16px;
                line-height: 40px;
                color: #EEEEEE;
            }
        }
        button{
            padding: 19px 35px;
            border: 2px solid #FFFFFF;
            border-radius: 0px 35px 35px 0px;
            margin-left: -35px;
            font-family: $primary-font;
            font-weight: bold;
            font-size: 20px;
            line-height: 35px;
            text-transform: uppercase;
            color: #5F727F;
            @include xl-device(){
                padding: 6px 1px;

            }
            @include sm-down-device(){
                padding: 10px 10px;
            }

        }
        }
    }
}
.product-left-area{
    background: #000;
}
// footer
.footer{
    background: #000413;
        padding: 47px 75px;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        .copyright{
            a{
                font-family: $primary-font;
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
                color: #FFFFFF;
                text-decoration: none;
            }

        }
        .footer-icon{
            a{
                margin-right: 20px;
                .bxl-facebook{ 
                    height: 34px;
                    width: 34px;
                    border-radius: 50px;
                    line-height: 32px;
                    border: 1px solid #FFFFFF;
                    // background-color: #FFFFFF;
                    color: #FFFFFF;
                    font-size: 20px;
                    padding-left: 0px;
                    &:hover{
                        color:  #3b5998;
                        background-color: #fff;
                    }
                    
                }
                .bxl-twitter{ 
                    height: 34px;
                    width: 34px;
                    border-radius: 50px;
                    line-height: 32px;
                    border: 1px solid #FFFFFF;
                    // background-color: #FFFFFF;
                    color: #FFFFFF;
                    font-size: 20px;
                    padding-left: 0px;
                    &:hover{
                        color: #00acee;
                        background-color: #fff;
                    }
                    
                }
                .bxl-instagram{ 
                    height: 34px;
                    width: 34px;
                    border-radius: 50px;
                    line-height: 32px;
                    border: 1px solid #FFFFFF;
                    // background-color: #FFFFFF;
                    color: #FFFFFF;
                    font-size: 20px;
                    padding-left: 0px;
                    &:hover{
                        color: #8a3ab9;
                        background-color: #fff;
                    }
                    
                }
                .bxl-pinterest-alt{ 
                    height: 34px;
                    width: 34px;
                    border-radius: 50px;
                    line-height: 32px;
                    border: 1px solid #FFFFFF;
                    // background-color: #FFFFFF;
                    color: #FFFFFF;
                    font-size: 20px;
                    padding-left: 0px;
                    &:hover{
                        color:  #c8232c ;
                        background-color: #fff;
                    }
                    
                }

            }
            @include md-down-device(){
                margin: 20px 0px;
            }
        }
        .back-batn{
            a{
                font-family: $primary-font;
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
                color: #FFFFFF;
                text-decoration: none;
            }
        }
    
}